type project

id Nata.IO.AzureStorage
title Nata.IO.AzureStorage
authors Jonathan Leaver
owners Jonathan-Alex
copyright © 2016 Jonathan Leaver
iconUrl https://avatars3.githubusercontent.com/u/4975537
licenseUrl http://www.apache.org/licenses/LICENSE-2.0
projectUrl https://github.com/j-alexander/nata
description Nata.IO.AzureStorage