source https://www.nuget.org/api/v2/

nuget Consul
nuget EventStore.Client ~> 5
nuget FSharp.Compiler.Service
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting >= 2.14.4
nuget FSharp.Formatting.CommandTool
nuget FSharpVSPowerTools.Core
nuget FsPickler
nuget FsPickler.Json
nuget kafka-net-for-dotnet-core
nuget Kafunk
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Azure.Cosmos
nuget Microsoft.Azure.EventHubs
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Newtonsoft.Json
nuget NLog
nuget NUnit
nuget NUnit.Console
nuget NUnit3TestAdapter
nuget Owin
nuget RabbitMQ.Client
nuget Suave
nuget System.ValueTuple
nuget WebSocket4Net
nuget WindowsAzure.Storage