source https://www.nuget.org/api/v2/

nuget Consul
nuget EventStore.Client
nuget FSharp.Compiler.Service
nuget FSharp.Data
nuget FSharp.Formatting >= 2.10.3
nuget FSharp.Formatting.CommandTool
nuget FSharpVSPowerTools.Core
nuget kafka-net
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.Core
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Azure.KeyVault.Core
nuget Microsoft.Bcl
nuget Microsoft.Bcl.Build
nuget Microsoft.Data.Edm
nuget Microsoft.Data.OData
nuget Microsoft.Data.Services.Client
nuget Microsoft.Net.Http
nuget Microsoft.Owin
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.Owin.Host.HttpListener
nuget Microsoft.Owin.Hosting
nuget Newtonsoft.Json
nuget NLog
nuget NLog.FSharp
nuget NUnitTestAdapter.WithFramework
nuget Owin
nuget RabbitMQ.Client
nuget System.Spatial
nuget WebSocket4Net
nuget WindowsAzure.ServiceBus
nuget WindowsAzure.Storage